<div class="row">
  <div class="col-lg-6" *ngIf="!_authService.isLoggedIn()">
    <app-login></app-login>
    <div class="row">
      <p class="lead mx-auto">
        Not registred? <a routerLink="/register">Sign up</a>
      </p>
    </div>
  </div>
  <div class="col-lg-6 my-5 mx-auto">
    <h1>Welcome to my Amazing Shop</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quia
      explicabo id quam quo aut veniam molestiae, inventore magni animi
      necessitatibus dolor ex. Possimus ullam quo, labore dolore beatae
      suscipit.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, hic,
      harum unde itaque labore dolorem perspiciatis quia architecto natus
      delectus maiores animi fuga magnam dolore tempora? Harum voluptatem atque
      ipsam?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis,
      accusantium minus voluptatum placeat velit similique quod reiciendis nulla
      eum, optio, dolores dolorem eveniet quos temporibus minima beatae
      veritatis nostrum eos exercitationem. Ad repellendus dolore quasi quam,
      illum enim perferendis nobis totam quia beatae fuga animi temporibus! Ut
      id eius quos vero ratione quo deleniti optio nobis molestiae, voluptate,
      neque maiores, tenetur sunt mollitia! Eius beatae placeat, aliquid
      asperiores maiores expedita libero autem dolore doloremque cumque eligendi
      animi eum repellendus delectus, fuga perferendis. Laboriosam blanditiis,
      atque voluptas obcaecati incidunt possimus? Velit nisi eum amet architecto
      hic atque distinctio quibusdam earum ut vel, iusto sequi ratione tempore!
      Et odio at architecto quidem ullam quam totam maxime, similique commodi
      animi dolor assumenda dicta, illum nisi fuga, beatae a vel dolorem
      consequatur sit tempore quaerat delectus. Ipsam eligendi incidunt maxime
      laborum officiis voluptate eveniet. Minima deserunt autem aspernatur.
      Velit dicta explicabo amet adipisci. Dicta aut commodi odit molestias quis
      fuga iusto corrupti cumque dignissimos quod reiciendis praesentium, id
      laborum doloremque ullam eos impedit nostrum quae harum vero minus nisi
      voluptas quasi? Quos nostrum temporibus harum. Ullam beatae perferendis id
      deserunt totam aut
    </p>
  </div>
</div>
