<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button mat-button color="primary">
    <mat-icon>home</mat-icon>
    <span class="lead"> Amazing Shop</span>
  </button>
  <button
    mat-button
    color="primary"
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/category" routerLinkActive="active"
          >Category</a
        >
      </li>
      <li class="nav-item">
        <a
          *ngIf="_authService.isLoggedIn()"
          class="nav-link"
          routerLink="/shopping"
          routerLinkActive="active"
          >Start shopping</a
        >
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/addtask']">Add Task</a>
      </li> -->
    </ul>
    <ul class="navbar-nav">
      <a
        *ngIf="!_authService.isLoggedIn()"
        class="nav-link"
        routerLink="/login"
        routerLinkActive="active"
        >Login</a
      >
      <a
        *ngIf="!_authService.isLoggedIn()"
        class="nav-link"
        routerLink="/register"
        routerLinkActive="active"
        >Register</a
      >
      <a
        id="logoutBtn"
        class="nav-link"
        *ngIf="_authService.isLoggedIn()"
        (click)="_authService.logoutUser()"
        >Logout</a
      >
    </ul>
  </div>
</nav>
